.navbar {
  z-index: 9000;
  position: absolute;
  right: 0;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 30px;
  list-style: none;
  margin-left: 25px;
  margin-right: 20px;
  margin-top: 20px;
}

.navbar li {
  padding-right: 20px;
}
