body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.fp-watermark {
  display: none;
}

.fp-overflow {
  overflow-y: hidden;
}
